@import "variables/colors";
@import "variables/typography";

@import "mixins/media";

@import "partials/frontgeneral";
@import "partials/pagination";

.main-title {
  margin-top: 2em;
  color: $dark_text;
  font-family: $font_stack_playfair;
  font-size: 3em;
  transition: 1s;
  @include respond-to(phone) {font-size: 2em;}
}

.scrolled .main-title {
  transform: translateY(-1.5em);
  background-color: $white;
  z-index: 200;
  padding-bottom: 0.5em;
  margin-top: 1em;
  padding-top: 1em;
  box-shadow: 0px 5px 8px $mid_grey;
}

.sub-title {
  color: $midlight_grey;
  margin-bottom: 4em;
  font-family: $font_stack_playfair;
  font-weight: 400;
  font-size: 1.4em;
  transition: 1s;
  @include respond-to(phone) {font-size: 1.2em;}
}

.scrolled .sub-title {
  opacity: 0;
}

.title-image-container {
  width: 100%;
  height: 26em;
  background: url("../../../images/lowly.jpg") no-repeat;
  background-size: cover;
  background-position-y: 25%;
  margin-top: 20em;
  transition: 1s;
  position: fixed;
  pointer-events: none;
  @include respond-to(phone) {height: 16em;}
}

.scrolled .title-image-container {
  transform: scale3d(.9,.9,.9) translateY(-100px);
  opacity: 0;
}

.title-holder {
  position: fixed;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.page-header {
  height: 100%;
  width: 100%;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.5em;
  font-family: $font_stack_playfair;
  color: $mid_grey;
  @include respond-to(phone) {font-size: 1.2em; padding: 0 10px;}
}

.published {
  position: relative;
  text-align: center;
  z-index: -1;
}

.published span {
  padding: 0 1em;
  background-color: $white;
  z-index: -1;
}

.published:before {
  content: "";
  width: 800px;
  height: 3px;
  background-color: $midlight_grey;
  position: absolute;
  left: -6%;
  top: 50%;
  z-index: -100;
  @include respond-to(phone) {width: 100%; left: 0;}
}

.excerpt {
  margin-bottom: 2em;
}