html {
  height: 100%;
}

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

body {
  margin: 0;
  /*font-family:'Lato', sans-serif;*/
  text-align: center;
  /*color: #999;*/
  height: 100%;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Playfair Display", serif;
  text-align: left;
}

.page-footer {
  clear: both;
  height: 50px;
}

.fixed-header {
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: 0px 3px 6px #333333;
  top: 0;
  background-color: white;
  z-index: 200;
}

.fixed-header h3 {
  margin: 0 1em;
  font-size: 2em;
  line-height: 50px;
}
@media only screen and (max-width: 360px) {
  .fixed-header h3 {
    font-size: 1.5em;
  }
}

.cover-img-container img {
  width: 100%;
  height: 100%;
}

.article {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.article a, .article a:visited {
  color: crimson;
  text-decoration: underline;
}

.content-body {
  font-size: 1.5em;
  line-height: 37px;
  text-align: left;
  padding: 0 10px;
}
@media only screen and (max-width: 360px) {
  .content-body {
    font-size: 1.2em;
    padding: 0 10px;
  }
}

.content-body p img {
  display: block;
  max-width: 80%;
  max-height: 550px;
  margin: 2em auto;
}
@media only screen and (max-width: 360px) {
  .content-body p img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 361px) and (max-width: 605px) {
  .content-body p img {
    max-width: 100%;
  }
}

.article-title {
  font-size: 3em;
  margin: 1em 0;
}
@media only screen and (max-width: 360px) {
  .article-title {
    font-size: 2em;
  }
}

.article-details {
  position: relative;
  text-align: left;
  padding: 0 2em;
}

.date-box {
  width: 30%;
  display: inline-block;
}
@media only screen and (max-width: 360px) {
  .date-box {
    width: 100%;
    margin-bottom: 0.5em;
  }
}
@media only screen and (min-width: 361px) and (max-width: 605px) {
  .date-box {
    width: 100%;
    margin-bottom: 0.5em;
  }
}

.article-details i {
  color: crimson;
}

.pub-date {
  padding-left: 2em;
}

.tag-box {
  float: right;
}
@media only screen and (max-width: 360px) {
  .tag-box {
    width: 100%;
    float: none;
  }
}
@media only screen and (min-width: 361px) and (max-width: 605px) {
  .tag-box {
    width: 100%;
    float: none;
  }
}

.tags {
  padding-left: 1em;
}

.authorship {
  margin: 3em 0;
  margin-bottom: 5em;
  clear: both;
  padding: 0 10px;
}

.authorship img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
}
@media only screen and (max-width: 360px) {
  .authorship img {
    width: 150px;
    height: 150px;
    float: none;
  }
}
@media only screen and (min-width: 361px) and (max-width: 605px) {
  .authorship img {
    width: 150px;
    height: 150px;
  }
}

.author-name {
  float: right;
  width: 60%;
  font-size: 1.4em;
}
@media only screen and (max-width: 360px) {
  .author-name {
    width: 100%;
    float: none;
  }
}

.author-bio {
  width: 60%;
  font-size: 1.2em;
  float: right;
}
@media only screen and (max-width: 360px) {
  .author-bio {
    width: 100%;
    float: none;
    padding: 0 10px;
  }
}
