.createbutton {
  width: 20em;
  margin-right: 2em;
}

.page-title {
  margin-left: 2em;
  font-family: "Pacifico", cursive;
  font-size: 4em;
  margin-bottom: 0.5em;
}

.blockbutton {
  height: 4em;
  border-radius: 0;
  margin: 1em 0;
}

.secondblockbutton {
  line-height: 3em;
  border: none;
  background-color: #c5c5c5;
}

body {
  padding-top: 50px;
}

#main-nav {
  margin-bottom: 0;
  background-color: #a2ded0;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
}

#main-nav dropdown-menu {
  background-color: #e67e22;
  text-align: center;
}
#main-nav .dropdown-menu li a:focus {
  background-color: #e67e22;
}
#main-nav .dropdown-menu li a:hover {
  background-color: #e67e22;
}
#main-nav a {
  color: #FFFFFF;
}
#main-nav li {
  color: #FFFFFF;
}

#bs-example-navbar-collapse-1 ul li.active a {
  background-color: #e67e22;
}

.admin-form {
  padding-top: 8em;
  max-width: 900px;
  margin: 0 auto;
}

.admin-form label {
  font-family: "Open Sans", Helvetica, Ariel, sans-serif;
  font-size: 90%;
  color: #2980b9;
  font-weight: 400;
  text-transform: uppercase;
}
.admin-form input {
  border-radius: 0;
}
.admin-form textarea {
  border-radius: 0;
}

.file-select-box {
  min-width: 300px;
  min-height: 250px;
  max-width: 100%;
  background-color: #2980b9;
  opacity: 0.7;
  position: relative;
}

.file-select-box p {
  color: #ffffff;
  font-size: 120%;
  text-align: center;
  padding-top: 115px;
  z-index: 5000;
}
.file-select-box input[type=file] {
  display: none;
}
.file-select-box img {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
