.createbutton {
  width: 20em;
  margin-right: 2em;
}

.title-header {
  padding-right: 2em;
}

.page-title {
  margin-left: 2em;
  font-family: "Pacifico", cursive;
  font-size: 4em;
  margin-bottom: 0.5em;
}

.blockbutton {
  height: 4em;
  border-radius: 0;
  margin: 1em 0;
  background-color: #479e88;
  border-color: #a2ded0;
}

.secondblockbutton {
  line-height: 3em;
  border: none;
  background-color: #c5c5c5;
}

body {
  padding-top: 50px;
}

#main-nav {
  margin-bottom: 0;
  background-color: #a2ded0;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
}

#main-nav dropdown-menu {
  background-color: #479e88;
  text-align: center;
}
#main-nav .dropdown-menu li a:focus {
  background-color: #479e88;
}
#main-nav .dropdown-menu li a:hover {
  background-color: #479e88;
}
#main-nav a {
  color: #FFFFFF;
}
#main-nav li {
  color: #FFFFFF;
}

#bs-example-navbar-collapse-1 ul li.active a {
  background-color: #479e88;
}

#main-nav li:hover a {
  color: #479e88;
}

.admin-form {
  padding-top: 8em;
  max-width: 900px;
  margin: 0 auto;
}

.admin-form label {
  font-family: "Open Sans", Helvetica, Ariel, sans-serif;
  font-size: 90%;
  color: #2980b9;
  font-weight: 400;
  text-transform: uppercase;
}
.admin-form input {
  border-radius: 0;
}
.admin-form textarea {
  border-radius: 0;
}

.file-select-box {
  min-width: 300px;
  min-height: 250px;
  max-width: 100%;
  background-color: #2980b9;
  opacity: 0.7;
  position: relative;
}

.file-select-box p {
  color: #ffffff;
  font-size: 120%;
  text-align: center;
  padding-top: 115px;
  z-index: 5000;
}
.file-select-box input[type=file] {
  display: none;
}
.file-select-box img {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-header {
  width: 100%;
  height: 23em;
  background: url("../../../images/office.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.image-box {
  position: absolute;
  bottom: -6em;
  left: 10em;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #2980b9;
  -webkit-box-shadow: 4px 4px 2px #c5c5c5;
          box-shadow: 4px 4px 2px #c5c5c5;
}

.profile-img {
  width: 100%;
  height: 100%;
}

.flash-message {
  position: fixed;
  width: 15em;
  height: 15em;
  background-color: #fed700;
  bottom: 0;
  left: 2em;
  font-family: "Open Sans", Helvetica, Ariel, sans-serif;
  color: #333333;
  font-weight: 600;
}

#password-report, #password-confirm-report {
  margin-left: 2em;
  text-transform: lowercase;
  padding: 0.5em 1em;
  border-radius: 8px;
  color: white;
  font-weight: 400;
  font-family: "Open Sans", Helvetica, Ariel, sans-serif;
  -webkit-transition: 1s;
          transition: 1s;
  opacity: 0;
}

#password-report.fail, #password-confirm-report.fail {
  background-color: #e74c3c;
  opacity: 1;
}

#password-report.great, #password-confirm-report.great {
  background-color: #479e88;
  opacity: 1;
}

#password-report.okay, #password-confirm-report.okay {
  background-color: #f6a22e;
  opacity: 1;
}
