.createbutton {
  width: 20em;
  margin-right: 2em;
}

.title-header {
  padding-right: 2em;
}

.page-title {
  margin-left: 2em;
  font-family: "Pacifico", cursive;
  font-size: 4em;
  margin-bottom: 0.5em;
}

.blockbutton {
  height: 4em;
  border-radius: 0;
  margin: 1em 0;
  background-color: #479e88;
  border-color: #a2ded0;
}

.secondblockbutton {
  line-height: 3em;
  border: none;
  background-color: #c5c5c5;
}

body {
  padding-top: 50px;
}

#main-nav {
  margin-bottom: 0;
  background-color: #a2ded0;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
}

#main-nav dropdown-menu {
  background-color: #479e88;
  text-align: center;
}
#main-nav .dropdown-menu li a:focus {
  background-color: #479e88;
}
#main-nav .dropdown-menu li a:hover {
  background-color: #479e88;
}
#main-nav a {
  color: #FFFFFF;
}
#main-nav li {
  color: #FFFFFF;
}

#bs-example-navbar-collapse-1 ul li.active a {
  background-color: #479e88;
}

#main-nav li:hover a {
  color: #479e88;
}

.flash-message {
  position: fixed;
  width: 15em;
  height: 15em;
  background-color: #fed700;
  bottom: 0;
  left: 2em;
  font-family: "Open Sans", Helvetica, Ariel, sans-serif;
  color: #333333;
  font-weight: 600;
}

form {
  width: 99%;
  margin: 0 auto;
}

.row {
  margin: 0.5em 0;
}

#title {
  font-size: 2em;
  height: 2.5em;
}

#cover_pic {
  display: none;
}

#cover_pic_upload_box {
  min-height: 214px;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #479e88), color-stop(100%, #a2ded0));
  background: -webkit-radial-gradient(center, circle cover, #479e88 0%, #a2ded0 100%);
  background: radial-gradient(center, circle cover, #479e88 0%, #a2ded0 100%);
  background-color: #479e88;
  position: relative;
  border: 1px solid #ccc;
  border-left: none;
  position: relative;
}

#cover_pic_upload_box label {
  position: relative;
  top: 40%;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
  font-family: 'Lato', Ariel, sans-serif;
  line-height: 180px;
  z-index: 100;
}

#wmd-input {
  width: 100%;
  resize: none;
}

#wmd-button-row {
  width: 100%;
}

.image_preview {
  max-width: 250px;
  max-height: 200px;
  float: right;
}

.image_preview img {
  max-width: 100%;
  max-height: 100%;
}

#excerpt_box {
  padding-right: 0;
}

#excerpt_box textarea {
  border-radius: 0;
}

#picture_box {
  padding-left: 0;
}

#writing_area {
  height: 540px;
}

.wmd-panel {
  height: 100%;
}

#wmd-input {
  height: 93%;
}

.resizer-icon {
  position: absolute;
  right: 0;
  padding: 0.5em;
}

#wmd-preview {
  position: relative;
  height: 100%;
  background-color: #FCFCFC;
  margin-top: 3em;
  padding: 1.5em;
  overflow-Y: auto;
  overflow-X: hidden;
  padding-bottom: 3em;
  font-family: "Open Sans", Helvetica, Ariel, sans-serif;
  font-size: 1.125em;
  line-height: 1.5em;
}

#wmd-preview:before {
  content: 'Preview';
  font-size: 1.5em;
  font-weight: 700;
  position: absolute;
  top: -1.5em;
  left: 45%;
}

#footbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #a2ded0;
  margin: 0;
  padding: 0.3em 0;
  right: 0;
  left: 0;
}

#submit_btn_grp {
  width: 100%;
}

#cover_pic_preview {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /*z-index: -1000;*/
}

#cover_pic_preview img {
  width: 100%;
  height: 100%;
  z-index: -500;
}

#imageToUpload {
  display: none;
}

#fileUploadLabel {
  font-size: 1.5em;
  font-weight: 400;
  color: #2980B9;
}

#excerpt_txt {
  resize: none;
}

#cover_pic_error {
  /*display: none;*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*width: 0;*/
  -webkit-transition: 1s;
  opacity: 0;
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin: 1em;
}

#cover_pic_error.show {
  opacity: 1;
  width: auto;
}

#taglist, #tagaddon, #category, #submitbutton {
  border-radius: 0;
}

#submitbutton {
  background-color: #479E8B;
  border-color: #2980B6;
}

#publish_options_list {
  right: 0;
}

#publish_options_list li {
  padding: 0.5em 2em;
  text-align: center;
  cursor: pointer;
}
