body {
	padding-top: 50px;
}


/*main nav bar*/

#main-nav {
	margin-bottom: 0;
	background-color: #c0392b;
	color: #FFFFFF;
	border: none;
	border-radius: 0;
}

#main-nav .dropdown-menu {
	background-color: #e67e22;
	text-align: center;
}

#main-nav .dropdown-menu li a:focus, #main-nav .dropdown-menu li a:hover {
	background-color: #e67e22;
}

#main-nav a, #main-nav li {
	color: #FFFFFF;
}

#bs-example-navbar-collapse-1 ul li.active a {
	background-color: #e67e22;
}

/*forms*/

.admin-form {
    padding-top: 8em;
    max-width: 900px;
    margin: 0 auto;
}

.admin-form label {
    font-family: 'Open Sans', Helvetica, Ariel, sans-serif;
    font-size: 90%;
    color: #2980b9;
    font-weight: 400;
    text-transform: uppercase;
}

.admin-form input, .admin-form textarea {
    border-radius: 0;
}

.blockbutton {
    height: 4em;
    border-radius: 0;
    margin: 1em 0;
}

.secondblockbutton{
    line-height: 3em;
    border: none;
    background-color: #c5c5c5;
}

.file-select-box {
    min-width: 300px;
    min-height: 250px;
    max-width: 100%;
    background-color: #2980B6;
    opacity: 0.7;
    position: relative;
}

.file-select-box p {
    color: #ffffff;
    font-size: 120%;
    text-align: center;
    padding-top: 115px;
    z-index: 5000;
}

.file-select-box input[type=file] {
    display: none;
}

.file-select-box img {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

/*user role selection radios*/
.user-type-selection {
    text-align: center;
}

.user-type-box.active {
    background-color: #2980b9;
}

.user-type-box {
    display: inline-block;
    width: 100%;
    height: 240px;
    margin: 0.5em 0.5em;
    background-color: #c5c5c5;
}

.user-type-box input {
    display: none;
}

.user-role-label {
    width: 100%;
}

.user-role-label .user-type-box .role-title {
    text-align: center;
    color: #333;
}

.user-permission-list {
    color: #333;
    list-style-type: none;
    padding-left: 1.5em;
}

.permission {
    font-size: 80%;
    margin-bottom: 0.3em;
}

.icon-holder {
    text-align: center;
    font-size: 4em;
    color: rgba(0,0,0,0.4);
}
