$navbar_red: #A2DED0;
$navbar_secondry: #479E88;
$primary_blue: #2980b9;
$mid_grey: #525252;
$midlight_grey: #999;
$light_gray: #c5c5c5;
$lighter_grey: #bbbbbb;
$super_light_grey: #eeeeee;
$dark_text: #333;
$flat_red: #E74C3C;
$crimson: #DC143c;
$white: #ffffff;
$alert_yellow: #FED700;
$warning: #F6A22E;