html {
  height: 100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin:0;
  /*font-family:'Lato', sans-serif;*/
  text-align:center;
  /*color: #999;*/
  height: 100%;
}

a, a:visited {
  text-decoration:none;
  color: inherit;
}