#main-nav {
  margin-bottom: 0;
  background-color: $navbar_red;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
}

#main-nav {
  dropdown-menu {
    background-color: $navbar_secondry;
    text-align: center;
  }

  .dropdown-menu li a:focus{
    background-color: $navbar_secondry;
  }

  .dropdown-menu li a:hover {
    background-color: $navbar_secondry;
  }

  a {
    color: #FFFFFF;
  }

  li {
    color: #FFFFFF;
  }

  #bs-example-navbar-collapse-1 ul li.active a {
    background-color: $navbar_secondry;
  }
}