.createbutton {
  width: 20em;
  margin-right: 2em;
}

.title-header {
  padding-right: 2em;
}

.page-title {
  margin-left: 2em;
  font-family: $font_stack_pacifico;
  font-size: 4em;
  margin-bottom: 0.5em;
}

.blockbutton {
  height: 4em;
  border-radius: 0;
  margin: 1em 0;
  background-color: $navbar_secondry;
  border-color: $navbar_red;
}

.secondblockbutton {
  line-height: 3em;
  border: none;
  background-color: $light_gray;
}