#password-report, #password-confirm-report {
  margin-left: 2em;
  text-transform: lowercase;
  padding: 0.5em 1em;
  border-radius: 8px;
  color: $white;
  font-weight: 400;
  font-family: $font_stack_opensans;
  transition: 1s;
  opacity: 0;
}

#password-report.fail, #password-confirm-report.fail {
  background-color: $flat_red;
  opacity: 1;
}

#password-report.great, #password-confirm-report.great {
  background-color: $navbar_secondry;
  opacity: 1;
}

#password-report.okay, #password-confirm-report.okay {
  background-color: $warning;
  opacity: 1;
}