@import "colors";
@import "typography";

@import "page_general";
@import "navbar";
@import "forms";
@import "userroles";
@import "profile_header";

.user-fullname {
  text-align: right;
  font-size: 4em;
  margin-bottom: 0;
  padding-right: 2em;
  padding-top: 0.5em;
}